.__className_e66fe9 {
    background-color: #cecece;
}

#color {
    background-color: #ffffff;
}

#btnDiv {
    background-color: #ffffff;
}

#inputField {
    height: 40px;
}

#listItem {
    height: 40px;
}